<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_vmh68AoDEeujPNRyqvrIRg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="FSM">
    <regions xmi:id="_vmllUAoDEeujPNRyqvrIRg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_vmrr8woDEeujPNRyqvrIRg">
        <outgoingTransitions xmi:id="_vmuvQAoDEeujPNRyqvrIRg" target="_vms6FAoDEeujPNRyqvrIRg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_vms6FAoDEeujPNRyqvrIRg" name="StateA" incomingTransitions="_vmuvQAoDEeujPNRyqvrIRg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_vmk-QAoDEeujPNRyqvrIRg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_vmh68AoDEeujPNRyqvrIRg" measurementUnit="Pixel">
    <children xmi:id="_vmnagAoDEeujPNRyqvrIRg" type="Region" element="_vmllUAoDEeujPNRyqvrIRg">
      <children xsi:type="notation:DecorationNode" xmi:id="_vmrE4AoDEeujPNRyqvrIRg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vmrE4QoDEeujPNRyqvrIRg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vmrE4goDEeujPNRyqvrIRg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_vmrr8AoDEeujPNRyqvrIRg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_vmsTAAoDEeujPNRyqvrIRg" type="Entry" element="_vmrr8woDEeujPNRyqvrIRg">
          <children xmi:id="_vmsTBAoDEeujPNRyqvrIRg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_vms6EAoDEeujPNRyqvrIRg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_vms6EQoDEeujPNRyqvrIRg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_vms6EgoDEeujPNRyqvrIRg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vmsTBQoDEeujPNRyqvrIRg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmsTBgoDEeujPNRyqvrIRg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vmsTAQoDEeujPNRyqvrIRg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_vmsTAgoDEeujPNRyqvrIRg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vms6EwoDEeujPNRyqvrIRg" x="70" y="20"/>
        </children>
        <children xmi:id="_vmthIAoDEeujPNRyqvrIRg" type="State" element="_vms6FAoDEeujPNRyqvrIRg">
          <children xsi:type="notation:DecorationNode" xmi:id="_vmthJAoDEeujPNRyqvrIRg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_vmthJQoDEeujPNRyqvrIRg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_vmthJgoDEeujPNRyqvrIRg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vmuIMAoDEeujPNRyqvrIRg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_vmuIMQoDEeujPNRyqvrIRg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmuIMgoDEeujPNRyqvrIRg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_vmuIMwoDEeujPNRyqvrIRg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_vmthIQoDEeujPNRyqvrIRg" fontName="Verdana" fillColor="15720400" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_vmthIgoDEeujPNRyqvrIRg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vmuINAoDEeujPNRyqvrIRg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmuINQoDEeujPNRyqvrIRg" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmrr8QoDEeujPNRyqvrIRg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_vmnagQoDEeujPNRyqvrIRg" fontName="Verdana" fillColor="16448250" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmrr8goDEeujPNRyqvrIRg" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_vmv9ZAoDEeujPNRyqvrIRg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_vmwkcAoDEeujPNRyqvrIRg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vmwkcQoDEeujPNRyqvrIRg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vmwkcgoDEeujPNRyqvrIRg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_vmwkcwoDEeujPNRyqvrIRg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmwkdAoDEeujPNRyqvrIRg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vmwkdQoDEeujPNRyqvrIRg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_vmk-QQoDEeujPNRyqvrIRg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_vmk-QgoDEeujPNRyqvrIRg"/>
    <edges xmi:id="_vmvWUAoDEeujPNRyqvrIRg" type="Transition" element="_vmuvQAoDEeujPNRyqvrIRg" source="_vmsTAAoDEeujPNRyqvrIRg" target="_vmthIAoDEeujPNRyqvrIRg">
      <children xsi:type="notation:DecorationNode" xmi:id="_vmv9YQoDEeujPNRyqvrIRg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vmv9YgoDEeujPNRyqvrIRg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vmv9YwoDEeujPNRyqvrIRg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vmvWUQoDEeujPNRyqvrIRg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vmv9YAoDEeujPNRyqvrIRg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vmvWUgoDEeujPNRyqvrIRg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
